
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0px 200px;

  background-color: #000;
  color: #eee;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  // top nav (logo)

  .nav {
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: #000;
    transition: all 1s ease-in-out;
    font-size: 1em;
    
    .logo {
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.4em;
      font-weight: 600;
      padding: 10px 0;

      .beta{
        font-size: 0.6em;
       color: #aaa;
       font-weight: 300;
      }
  
    }
  }

  //channel button

  .channels::-webkit-scrollbar,
  .filter::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .channels,
  .filter {
    background-color: #000;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .channels {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    flex-wrap: nowrap;
    column-gap: 10px;
  

    button {
      cursor: pointer;
      background-color: transparent;
      border: transparent;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;

      img {
        width: 80px;
        height:80px;
        border-radius: 10px;
        transition: all 1s ease-in-out;
      }
    }

  

    .off {
      opacity: 0.3;
    }
    .on {
      opacity: 0.8;
    }
  }

  // filters

  .filter {
     
    display: flex;
    
    flex-wrap: nowrap;
   padding: 1em 0;
    column-gap: 10px;
    font-size: 1em;
    overflow-x: scroll;
    .filtertag-on,
    .filtertag-off {
      color: #ccc;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: nowrap;
white-space: nowrap;
      cursor: pointer;
      font-size: 1em;
      font-weight: 500;
      // background-color: #111;
      padding: 8px 15px;

      border: 1px solid #333;
      background-color: #111;
      border-radius: 50px;

      &:hover {
        background-color: #222;
      }
    }
    .filtertag-on {
      background-color: #ccc;
      color: #111;
      &:hover {
        background-color: #ccc;
      }
    }
  }

  // main feed and card

  .feed {
  
  //  padding-top: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
    .card {
    //  border: 1px solid #333;
    background-color:  #111;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
     //height: 100vh;
    .cardstamp {
      color: #ddd;
      font-size: 0.8em;
    }
    .cardtitle {
      font-size: 1.4em;
      font-weight: 500;
      padding: 5px 0;
      line-height: 1.6;
      color: #eee;
     // text-transform: uppercase;
    }

    .cardcontent {
      font-size: 1em;
      font-weight: 500;
      color: #aaa;
      line-height: 1.6;
      a {
        color: #eee;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
}

.design{
  
 padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
 .author>a{
   font-weight: 600;
   padding-left:5px ;
   cursor: pointer;
   color: #eee;
        text-decoration: none;
   &:hover{
     color: rgb(253, 236, 0);
   }
 }
}

}

@media screen and (max-width: 768px) {
  body {
    margin: 0 15px;
    .feed {
      width: 100%;
    }
  }
}
