
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0px 100px;

  background-color: #000;
  color: #eee;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  // top nav (logo)

  .nav {
    padding: 10px 0;
    .logo {
      text-transform: uppercase;
      font-size: 1.4em;
      font-weight: 600;
      padding: 10px 0;
  
    }
  }

  //channel button

  .channels::-webkit-scrollbar,
  .filter::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .channels,
  .filter {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .channels {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    flex-wrap: nowrap;
    column-gap: 10px;

    button {
      cursor: pointer;
     
      padding: 0px;
      background-color: transparent;
      border: transparent;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;

      img {
        width: 60px;
        height:60px;
        border-radius: 10px;
      }
    }

  

    .off {
      opacity: 0.3;
    }
    .on {
      opacity: 0.8;
    }
  }

  // filters

  .filter {
    display: flex;
    flex-wrap: nowrap;
    //  border-top: 1px solid #333;
    margin-top: 10px;
    column-gap: 10px;
    font-size: 1em;
    overflow-x: scroll;
    .filtertag-on,
    .filtertag-off {
      color: #888;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: nowrap;

      cursor: pointer;
      font-size: 0.8em;
      font-weight: 600;
      // background-color: #111;
      padding: 8px 15px;

      background-color: #111;
      border-radius: 50px;
      &:hover {
        background-color: #222;
      }
    }
    .filtertag-on {
      background-color: #ccc;
      color: #111;
      &:hover {
        background-color: #ccc;
      }
    }
  }

  // main feed and card

  .feed {
    width: 70%;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .card {
      
    background-color:  #111;
    padding: 20px;
    border-radius: 10px;
    .cardstamp {
      color: #ddd;
      font-size: 0.8em;
    }
    .cardtitle {
      font-size: 1.2em;
      font-weight: 600;
      padding: 10px 0;
      color: #eee;
     // text-transform: uppercase;
    }

    .cardcontent {
      font-size: 1em;
      font-weight: 500;
      color: #aaa;
      line-height: 1.6;
      a {
        color: #eee;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
}
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 15px;
    .feed {
      width: 100%;
    }
  }
}
