* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0px 100px;
  background-color: #000;
  color: #eee;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  /* Hide scrollbar for IE, Edge and Firefox */
}

body .nav {
  padding: 5px 0;
}

body .nav .logo {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px 0;
}

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

body .nav .logo #s1 {
  width: 5px;
  display: inline;
  -webkit-animation-name: rot;
          animation-name: rot;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .nav .logo #designby {
  font-weight: 500;
  font-size: 0.6em;
  text-transform: lowercase;
}

body .channels,
body .filter::-webkit-scrollbar {
  display: none;
}

body .channels,
body .filter {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body .channels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: scroll;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .channels button {
  cursor: pointer;
  margin: 0 5px;
  padding: 0px;
  background-color: transparent;
  border: transparent;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

body .channels button img {
  max-width: 50px;
  border-radius: 10px;
}

body .channels .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffffb3;
  border-radius: 10px;
  opacity: 0.5;
}

body .channels .off {
  opacity: 0.3;
}

body .channels .on {
  opacity: 0.8;
}

body .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  font-size: 1em;
  overflow-x: scroll;
}

body .filter .filtertag-on,
body .filter .filtertag-off {
  color: #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 600;
  padding: 8px 15px;
  background-color: #111;
  border-radius: 50px;
}

body .filter .filtertag-on:hover,
body .filter .filtertag-off:hover {
  background-color: #222;
}

body .filter .filtertag-on {
  background-color: #ccc;
  color: #111;
}

body .filter .filtertag-on:hover {
  background-color: #ccc;
}

body .feed {
  width: 70%;
  margin-top: 1.5em;
}

body .feed .card {
  margin-bottom: 2em;
}

body .feed .cardstamp {
  color: #ddd;
  font-size: 0.8em;
}

body .feed .cardtitle {
  font-size: 1.4em;
  font-weight: 600;
  padding: 10px 0;
  color: #ddd;
}

body .feed .cardcontent {
  font-size: 1em;
  font-weight: 500;
  color: #aaa;
  line-height: 1.6;
}

body .feed .cardcontent a {
  color: #eee;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 20px;
  }
  body .feed {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
