* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0px 200px;
  background-color: #000;
  color: #eee;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  /* Hide scrollbar for IE, Edge and Firefox */
}

body .nav {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .nav .logo {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 600;
  padding: 10px 0;
}

body .nav .logo .beta {
  font-size: 0.6em;
  color: #aaa;
  font-weight: 300;
}

body .channels::-webkit-scrollbar,
body .filter::-webkit-scrollbar {
  display: none;
}

body .channels,
body .filter {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body .channels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: scroll;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

body .channels button {
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  border: transparent;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

body .channels button img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

body .channels .off {
  opacity: 0.3;
}

body .channels .on {
  opacity: 0.8;
}

body .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 1.3em;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  font-size: 1em;
  overflow-x: scroll;
}

body .filter .filtertag-on,
body .filter .filtertag-off {
  color: #ccc;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  padding: 8px 15px;
  border: 1px solid #333;
  background-color: #111;
  border-radius: 50px;
}

body .filter .filtertag-on:hover,
body .filter .filtertag-off:hover {
  background-color: #222;
}

body .filter .filtertag-on {
  background-color: #ccc;
  color: #111;
}

body .filter .filtertag-on:hover {
  background-color: #ccc;
}

body .feed {
  padding-top: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

body .feed .card {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

body .feed .card .cardstamp {
  color: #ddd;
  font-size: 0.8em;
}

body .feed .card .cardtitle {
  font-size: 1.4em;
  font-weight: 500;
  padding: 10px 0;
  line-height: 1.6;
  color: #eee;
}

body .feed .card .cardcontent {
  font-size: 1em;
  font-weight: 500;
  color: #aaa;
  line-height: 1.6;
}

body .feed .card .cardcontent a {
  color: #eee;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 15px;
  }
  body .feed {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */